{% extends './layout.html' %}

{% block content %}
<h1>Login</h1>
<section class='common-form'>
{#入力エラーがあったら表示#}
    {% if form.errors %}
        <p class='error-msg'>あなたのユーザーネームとパスワードが一致しません</p>
    {% endif %}

{#nextにログイン後のpageを埋め込み#}
    {% if next %}
        {% if user.is_authenticated %}
            <p class='error-msg'>あなたのアカウントではこのページにアクセスできません。続行するには、
アクセス権のあるアカウントでログインしてください。</p>
        {% else %}
        {# ログインせずに開くと表示#}
            <p class='error-msg'>ログインしてください。</p>
        {% endif %}
    {% endif %}

    <form action='{% url "accounts:login" %}' method='post'>
        {% csrf_token %}
{#        ログインした後のURLを送信、コレはユーザーには見えない#}
        <input type='hidden' name='next' value='{{ next }}'/>
        {{ form.as_p }}
        <button type='submit'>Login</button>
    </form>
</section>
{% endblock %}