



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*.card {*/
/*    margin-top: 20px; !* 必要に応じて調整 *!*/
/*}*/

.reverse{
    display: flex;
    justify-content: end;
    align-items: center;

/*!*   bootstrapだと d-flex justify-content-end*!*/
}

/*上手くいかなかったのでbootstrapのd-flexを使用*/
/*.btn-container {*/
/*    display: flex; !* Flexboxを適用 *!*/
/*    justify-content: space-between; !* 子要素間のスペースを均等に分ける *!*/
/*    align-items: center; !* 子要素を中央に揃える *!*/
/*}*/

/*.btn-container div {*/
/*    display: flex; !* Flexboxを適用 *!*/
/*    align-items: center; !* 子要素を中央に揃える *!*/
/*    margin: 0; !* デフォルトのマージンをリセット *!*/
/*}*/

/*.btn-container a,*/
/*.btn-container button {*/
/*    margin: 0; !* デフォルトのマージンをリセット *!*/
/*}*/






.
